body{
    background-color: #F4F3E7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#top_btn {
    display: none;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #CCD3D3;
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 40%;
    font-size: 1rem;
  }
  #top_btn:hover {
    background-color: #555;
  }

/* Navigation Bar */

header{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-image: url(/images/back.jpg);
    background-size: cover;
    background-position: bottom;
}
.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.navbar a{
    color: #FBFBF4;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 2px #555;
    cursor: pointer;
}
.navbar a:hover{
    color: #7A6B76;
    text-shadow: 2px 1px 2px #555;
}
.logo{
    font-family: cursive;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #EAD9BB;
    -webkit-text-stroke: 1px #7A6B76;
    text-shadow: 2px 2px 2px #7A6B76;
}
.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    list-style: none;
    margin: 20px 25px;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    border-radius: 3px;
    cursor: pointer;
}
.navbar .menu-hamburger:hover{
    background-color: #FBFBF4;
}
@media screen and (max-width: 950px){
    .navbar{
        padding: 0;
    }
    .navbar .logo{
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .navbar a{
        color: #FBFBF4;
    }
    .navbar a:hover{
        color: #7A6B76;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/* Introduction */

#Intro{
    /* height: 90vh; */
    width: 100%;
    padding: 5vh 0vh;
}
#intro_content{
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    padding-bottom: 10rem;
}
#Intro img{
    height: auto;
    width: 27rem;
}
#intro_text{
    width: 34rem;
}
#intro_text h4{
    letter-spacing: 1px;
	font-size: 1.25rem;
}
#intro_text h1{
    color: #EAD9BB;
    -webkit-text-stroke: 1px #7A6B76;
    letter-spacing: 1px;
	margin: 0.6rem 0rem 0.5rem;
	font-size: 4.7rem;
}
#intro_text h5{
    color: #7A6B76;
    letter-spacing: 1px;
	font-size: 1.25rem;
	margin-bottom: 2.5rem;
}
.courses{
    margin-left: 1.5re,;
    font-size: 2vh;
}
#intro_text h3{
    margin-top: 1vh;
}
.text1{
    line-height: 1.5;
}

/* Skills */

#Skills{
	background: #FBFBF4;
    /* height: 90vh; */
	width: 100%;
	padding: 5vh 0vh;
}
.title{
	color: #EAD9BB;
    -webkit-text-stroke: 1px #7A6B76;
	font-size: 4.7rem;
	/* width: 70.5rem; */
	margin: 2rem auto;
	text-align: center;
}
.box{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card{
	height: 20rem;
	width: 15rem;
	padding: 1.25rem 2.2rem;
	background: #F4F3E7;
    border: 1rem solid transparent;
	border-radius: 1.25rem;
	margin: 1rem;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card_title{
    color: #7A6B76;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
.card_text{
	font-size: 1rem;
	line-height: 1.7rem;
	margin-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
}
.email{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.email:hover{
    color: #7A6B76;
}

/* Achievements */

#Achievements{
    /* height: 130vh; */
    width: 100%;
    padding: 5vh 0vh;
}
.subtitle {
    text-align: center;
    color: #7A6B76;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.achievements_text{
	height: 20rem;
	width: 15rem;
	padding: 1.25rem 2.2rem;
	background: #FBFBF4;
    border: 1rem solid transparent;
	border-radius: 1.25rem;
	margin: 2vw;
	position: relative;
	overflow: hidden;
	text-align: center;
}
#achievements_list{
    /* width: 60vw; */
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.achievement_row img{
    height: 4rem;
    width: auto;
}

/* Contacts */

#Contacts{
    background-color: #856757;
    /* height: 40vh; */
    width: 100%;
    padding: 0.5vh 0vh;
}
#contacts_title{
    color: #FBFBF4;
    -webkit-text-stroke: 1.5px #7A6B76;
    text-shadow: 2px 2px 2px #7A6B76;
	font-size: 2rem;
	/* width: 70.5rem; */
	margin: 2rem auto;
	text-align: center;
}
#contacts_text{
    color: #FBFBF4;
    text-align: center;
    line-height: 1.8;
}
#my_email{
    text-decoration: none;
    color: #FBFBF4;
    cursor: pointer;
}
#my_email:hover{
    color: #555;
}
.image_link{
    display: inline-block;
    width: 2.5rem;
    height: auto;
    padding: 0.5rem;
    position: relative;
    justify-content: center;
}

/* About me */

#About{
    /* height: 90vh; */
    width: 100%;
    padding: 5vh 0vh;
}
#about_content{
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    padding-bottom: 10rem;
}
#About img{
    height: auto;
    width: 27rem;
}
#about_text h5{
    color: #7A6B76;
    letter-spacing: 1px;
	font-size: 1.25rem;
	margin-bottom: 2.5rem;
}
#about_text{
    width: 34rem;
}

/* @media screen and (max-width: 1200px) {
    html{
        font-size: 10px;
    }
} */

@media screen and (max-width: 801px) {
    html{
        font-size: 10px;
    }
}